import streamlit as st
import pandas as pd
from matplotlib import pyplot as plt
from textblob import TextBlob
from nltk.tokenize import sent_tokenize
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm